############################
# Java
############################

*.class
*.log
*.ctxt
*.jar
*.war
*.ear

############################
# Gradle
############################

.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Gradle local caches
gradle/wrapper/caches/

############################
# IntelliJ IDEA
############################

.idea/
*.iws
*.iml
*.ipr

############################
# VS Code (если вдруг)
############################

.vscode/

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# Logs
############################

logs/
*.log

############################
# Runtime
############################

*.pid
*.seed

############################
# Spring Boot
############################

target/
*.h2.db
*.h2.db.mv.db

############################
# Environment files
############################

.env
.env.local

############################
# Temporary files
############################

tmp/
temp/
